@font-face{
    font-family: departure-mono;
    src: url(fonts/departure-mono.otf);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'departure-mono';
}

body {
    background-color: blue;
}



